@media(max-width: 768px){

    .header-part .logo{
        padding-top: 10px;
    }

    .header-part{
        background: url(../images/home.png);
        -webkit-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        height: 500px;
    
    }
    .header-part .header-items h1{
        font-size: 26px;
        color: #fff;
        padding-top: 40px;
    }
    .header-part .header-items h3{
        color: #8492af;
        padding-top: 20px;
        font-size: 16px;
    }

    .home-part  .banner{
        margin-top: -135px;
        padding-bottom: 100px;
    }

    .icon-features .col-md-4{
        margin-bottom: -100px;
        padding-bottom: -20px;
    }
    .all-need-part .left{
        padding-left: 20px;
    }

    .ddp-items .in-progres h5{
        padding-top: 60px;
    }

    .footer-part .left-part p{
        padding-top: 20px;
        color: #1e587e;
        padding-bottom: 65px;
    }
    .footer-part .right-left-part ul{
        padding-top: 0px;
        text-align: left;
    }

    .footer-part .right-part ul{
        padding-top: 0px;
        text-align: right;
       
    }

    .footer-part .right-part ul li a{
        padding-left: 0px;
        color: #8492af;
    }
  
}